.ProductTile {
    position: relative;
    padding-bottom: 10px;
    &-imageSection {
        position: relative;
    }
    &-image {
        width: 100%;
        height: 260px;
        object-fit: cover;
    }
    &-brand {
        margin: 20px 0 0;
        font-size: 0.8rem;
    }
    &-title {
        margin: 8px 0 0;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    &-price {
        margin: 8px 0 0;
        color: gray;
    }
    &-overlay {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 2;
        &--button {
            width: 200px;
            text-transform: uppercase;
            opacity: .8;
            &:hover {
                opacity: 1;
            }
        }
    }
    &:hover {
        // &:after {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     bottom: 0;
        //     left: 0;
        //     right: 0;
        //     background-color: gray;
        //     opacity: .7;
        // }
        .ProductTile-overlay {
            display: flex;
        }
    }
}
