.app {
  text-align: center;
}
.appCartPopupOpened {
  overflow: hidden;
  height: 100vh;
}
.header {
  display: flex;
  align-items: center;
}
.logo {
  height: 80px;
  object-fit: cover;
}
.nav {
  display: flex;
  height: 100%;
}
.list {
  display: flex;
  align-items: center;
}
.list li {
  margin: 0 20px;
}
